extends layout

block content
  style.
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    body {
      background-color: #353838;
      color: white;
    }
    header a {
      text-decoration: none;
    }
    header {
      padding: 0 20px;
      background-color: #1d1f1d;
      height: 50px;
      display: flex;
      justify-content: space-between;
    }
    #brand a {
      color: #09c372;
    }
    #brand {
      font-weight: bold;
      font-size: 18px;
      display: flex;
      align-items: center;
    }
    ul {
      list-style: none;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    ul a {
      color: white;
    }
    ul li {
      padding: 5px;
      margin-left: 10px;
    }
    ul li:hover {
      transform: scale(1.1);
      transition: 0.3s;
    }
  header
      div(id="brand")
        a(href="/panel") zeldabot
      nav(class="navbar")
        ul(id="navbarlinks")
          li
            a(href="/stats") Stats
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
  script(src="https://unpkg.com/sweetalert/dist/sweetalert.min.js")
  script.
    function getEventTarget(e) {
       e = e || window.event;
      return e.target || e.srcElement; 
    }
    var ul = document.getElementById('navbarlinks');
    ul.onclick = function(event) {
      var target = getEventTarget(event);
      target = target.innerHTML.split("<")[0].toLowerCase()
      console.log(target)
      $.ajax({
        url: `/${target}`,
        type: 'GET',
        contentType: 'text/html',
        success: function(data) {
          $('#testdiv').html(data);
        },
        error: function(error) {
          console.log(data)
        }
      });
      event.preventDefault();
    };
  div(id="testdiv") hi