extends layout

block content
  script.
    function getEventTarget(e) {
       e = e || window.event;
      return e.target || e.srcElement; 
    }
    var ul = document.getElementById('navbarlinks');
    ul.onclick = function(event) {
      var target = getEventTarget(event);
      target = target.innerHTML.split("<")[0].toLowerCase()
      console.log(target)
      $.ajax({
        url: `/${target}`,
        type: 'GET',
        contentType: 'text/html',
        success: function(data) {
          $('#testdiv').html(data);
        },
        error: function(error) {
          console.log(data)
        }
      });
    };
  div(id="testdiv") hi